/*清楚浏览器默认样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,table,a{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*基础样式*/
body{
    font:12px youyuan,Arial;
    color: #ccc;
    background: #f1f3f4;
    height: 850px;

}
a{
    color: #ccc;
    text-decoration: none;
}
input:focus{
    outline: none;
}
/*外部容器样式*/
#box{
    width:1600px;
    height: 1200px;
    margin: 0 auto;
    background: url("../images/index_bg.jpg");
}
#box1{
    width:1920px;
    height: 850px;
    margin-top:-80px;
    background: url("../images/home-bg.jpg");
}