<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能化停车系统-菜单</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/home.js"></script>
</head>
<body>
<div id="box1">
    <div id="nav">
        <form action="/home" method="get" enctype="multipart/form-data">
            <div class="form-one">
                <div>
                    <p><img src="../static/images/home1.jpg" alt=""></p>
                    <a href="">停车</a>
                </div>
                <div>
                    <p><img src="../static/images/home2.jpg" alt=""></p>
                    <a href="">订单</a>
                </div>
                <div>
                    <p><img src="../static/images/home3.jpg" alt=""></p>
                    <a href="">我的</a>
                </div>
            </div>
            <div class="form-two">
                <div>
                    <p><img src="../static/images/home4.jpg" alt=""></p>
                    <a href="">关于我们</a>
                </div>
                <div>
                    <p><img src="../static/images/home5.jpg" alt=""></p>
                    <a href="">反馈意见</a>
                </div>
                <div>
                    <p><img src="../static/images/home6.jpg" alt=""></p>
                    <a href="">首页</a>
                </div>
            </div>
        </form>

    </div>
</div>
</body>
</html>