<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <form action="/index" method="get" enctype="multipart/form-data"></form>
    <!--外部容器-->
    <div id="box">
        <!--页面顶部-->
        <div id="top">
            <!--左列-->
            <a href="" id="system">智能化停车系统</a>
            <ul>
                <li>
                    <a href="\home">首页</a>
                </li>
                <li>
                    <a href="\login">登录</a>
                </li>
                <li>
                    <a href="\register">注册</a>
                </li>
                <li>
                    <a href="">关于我们</a>
                </li>
                <li>
                    <a href="">退出</a>
                </li>
            </ul>
        </div>
        <div id="main">
            <ul>
                <li>Welcome</li>
                <li id="li1">Welcome To The Parking System</li>
            </ul>
        </div>
    </div>
</body>
</html>